html { font-size: 62.5%; } 
body { font-size: 1.4rem; } /* =14px */
h1   { font-size: 2.4rem; } /* =24px */
.widget {border-width: 0.25rem; border-style:ridge; background-color: tomato; border-color:maroon; }
.widget-page {background-color: #8b3626; border-color:#ff6347; }
.panel-default .widget-box {background-color: #ff7f00; border-color:#ff4500; }
.panel-default .widget-list {background-color:#8b5a00; border-color:#ee4000; }
.panel-default .widget-list-item {background-color: #cd6600; border-color:#cd3700; }
.panel-default .widget-card {background-color: #8b4500; border-color:#8b2500; }
.editing {width: 100%; background-color: #fdf5e6; border-color:maroon;}