html { font-size: 62.5%; } 
body { font-size: 1.4rem; } /* =14px */
h1   { font-size: 2.4rem; } /* =24px */
widget-box {box-shadow 0px 0px 3px blue;}
widget-list {box-shadow 0px 0px 3px red;}
widget {box-shadow 0px 0px 3px green;}
